# **PRAKTIKUM ANALISIS BIG DATA**
### Nama : Claudhea Angeliani
### NIM : 121450124  
### Kelas : RB

## **Tugas Modul**

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=37bc3843bfabeb281587a20c955390e0da6a5588b00d21fc9d6eb1a6d4be84fc
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.3.2/spark-3.3.2-bin-hadoop3.tgz
!tar xf spark-3.3.2-bin-hadoop3.tgz
!pip install -q findspark

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.2-bin-hadoop3"
!ls

import findspark
findspark.init()
print('[Done] You can use pyspark now.')

sample_data  spark-3.3.2-bin-hadoop3  spark-3.3.2-bin-hadoop3.tgz
[Done] You can use pyspark now.

SPARK CONTEXT

In [ ]:
import findspark
findspark.init()
import pyspark
sc = pyspark.SparkContext()

In [ ]:
sc

In [ ]:
sc.parallelize([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]).map(lambda x: x**2).sum()

385

Create A RDD

In [ ]:
wordsList = ['cat', 'elephant', 'rat', 'rat', 'cat']
wordsRDD = sc.parallelize(wordsList, 4)
# Print out the type of wordsRDD
print (type(wordsRDD))

<class 'pyspark.rdd.RDD'>

Call collect on an RDD: Lazy Spark

In [ ]:
wordsRDD.collect()

['cat', 'elephant', 'rat', 'rat', 'cat']

Word Examples

In [ ]:
def makePlural(word):
    return (word + 's')

print (makePlural('cat'))

cats

In [ ]:
#Transform one RDD into another.
pluralRDD = wordsRDD.map(makePlural)
print (pluralRDD.first())
print (pluralRDD.take(2))

cats
['cats', 'elephants']

In [ ]:
pluralRDD.take(1)

['cats']

In [ ]:
pluralRDD.collect()

['cats', 'elephants', 'rats', 'rats', 'cats']

Key Value Pairs

In [ ]:
wordPairs = wordsRDD.map(lambda w: (w, 1))
print (wordPairs.collect())

[('cat', 1), ('elephant', 1), ('rat', 1), ('rat', 1), ('cat', 1)]

WORD COUNT!

In [ ]:
wordsList = ['cat', 'elephant', 'rat', 'rat', 'cat']
wordsRDD = sc.parallelize(wordsList, 4)
wordCountsCollected = (wordsRDD
                       .map(lambda w: (w, 1))
                       .reduceByKey(lambda x,y: x+y)
                       .collect())
print (wordCountsCollected)

[('cat', 2), ('elephant', 1), ('rat', 2)]

In [ ]:
print ((wordsRDD
    .map(lambda w: (w, 1))
    .reduceByKey(lambda x,y: x+y)).toDebugString())

b'(4) PythonRDD[19] at RDD at PythonRDD.scala:53 []\n |  MapPartitionsRDD[18] at mapPartitions at PythonRDD.scala:145 []\n |  ShuffledRDD[17] at partitionBy at NativeMethodAccessorImpl.java:0 []\n +-(4) PairwiseRDD[16] at reduceByKey at <ipython-input-31-734709dee3e9>:3 []\n    |  PythonRDD[15] at reduceByKey at <ipython-input-31-734709dee3e9>:3 []\n    |  ParallelCollectionRDD[9] at readRDDFromFile at PythonRDD.scala:274 []'

Using Cache

In [ ]:
wordsList = ['cat', 'elephant', 'rat', 'rat', 'cat']
wordsRDD = sc.parallelize(wordsList, 4)
print (wordsRDD)
wordsRDD.count()

ParallelCollectionRDD[20] at readRDDFromFile at PythonRDD.scala:274

5

In [ ]:
#this is rerun from the start
wordsRDD.count()

5

In [ ]:
#default storage level (MEMORY_ONLY)
wordsRDD.cache()#nothing done this is still lazy

ParallelCollectionRDD[20] at readRDDFromFile at PythonRDD.scala:274

In [ ]:
#parallelize is rerun and cached because we told it to cache
wordsRDD.count()

5

In [ ]:
#this `sc.parallelize` is not rerun in this case
wordsRDD.count()

5

In [ ]:
birdsList=['heron','owl']
animList=wordsList+birdsList
animaldict={}
for e in wordsList:
    animaldict[e]='mammal'
for e in birdsList:
    animaldict[e]='bird'
animaldict

{'cat': 'mammal',
 'elephant': 'mammal',
 'rat': 'mammal',
 'heron': 'bird',
 'owl': 'bird'}

In [ ]:
animsrdd = sc.parallelize(animList, 4)
animsrdd.cache()
#below runs the whole chain but causes cache to be populated
mammalcount=animsrdd.filter(lambda w: animaldict[w]=='mammal').count()
#now only the filter is carried out
birdcount=animsrdd.filter(lambda w: animaldict[w]=='bird').count()
print (mammalcount, birdcount)

5 2

## **TUGAS INDIVIDU**

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
# Mengimport library numpy, pandas, ast(Abstract Syntax Trees)
import numpy as np
import pandas as pd
import ast

In [ ]:
# Membaca file CSV
movies1 = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

# Menampilkan 5 baris pertama pada data
movies1.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [ ]:
# Menggabungkan dua DataFrame yang disebut movies1 dan credits berdasarkan kolom 'title'
movies = movies1.merge(credits, on='title')
# Menampilkan lima baris pertama dari DataFrame movies yang telah digabungkan
movies.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

### Start Spark Session

In [ ]:
from pyspark.sql import SparkSession

# Inisialisasi SparkSession
spark = SparkSession.builder \
    .appName("Create Spark DataFrame") \
    .getOrCreate()

# Memuat file CSV ke Pandas DataFrames
movies1 = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

# Menggabungkan Dataframe pada kolom 'judul'
movies = movies1.merge(credits, on='title')

# Mengkonversikan Dataframe yang digabungkan menjadi Spark DataFrame
df = spark.createDataFrame(movies)

# Menampilkan beberapa baris pertama dari Spark DataFrame
df.show(20)

+---------+--------------------+--------------------+------+--------------------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+------------+----------+-------+--------------------+--------+--------------------+--------------------+------------+----------+--------+--------------------+--------------------+
|   budget|              genres|            homepage|    id|            keywords|original_language|      original_title|            overview|popularity|production_companies|production_countries|release_date|   revenue|runtime|    spoken_languages|  status|             tagline|               title|vote_average|vote_count|movie_id|                cast|                crew|
+---------+--------------------+--------------------+------+--------------------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+------------+----------+-------+--------------------+--------+--------------------+--------------------+------------+----------+--------+--------------------+--------------------+
|237000000|[{"id": 28, "name...|http://www.avatar...| 19995|[{"id": 1463, "na...|               en|              Avatar|In the 22nd centu...|150.437577|[{"name": "Ingeni...|[{"iso_3166_1": "...|  2009-12-10|2787965087|  162.0|[{"iso_639_1": "e...|Released|Enter the World o...|              Avatar|         7.2|     11800|   19995|[{"cast_id": 242,...|[{"credit_id": "5...|
|300000000|[{"id": 12, "name...|http://disney.go....|   285|[{"id": 270, "nam...|               en|Pirates of the Ca...|Captain Barbossa,...|139.082615|[{"name": "Walt D...|[{"iso_3166_1": "...|  2007-05-19| 961000000|  169.0|[{"iso_639_1": "e...|Released|At the end of the...|Pirates of the Ca...|         6.9|      4500|     285|[{"cast_id": 4, "...|[{"credit_id": "5...|
|245000000|[{"id": 28, "name...|http://www.sonypi...|206647|[{"id": 470, "nam...|               en|             Spectre|A cryptic message...|107.376788|[{"name": "Columb...|[{"iso_3166_1": "...|  2015-10-26| 880674609|  148.0|[{"iso_639_1": "f...|Released|A Plan No One Esc...|             Spectre|         6.3|      4466|  206647|[{"cast_id": 1, "...|[{"credit_id": "5...|
|250000000|[{"id": 28, "name...|http://www.thedar...| 49026|[{"id": 849, "nam...|               en|The Dark Knight R...|Following the dea...| 112.31295|[{"name": "Legend...|[{"iso_3166_1": "...|  2012-07-16|1084939099|  165.0|[{"iso_639_1": "e...|Released|     The Legend Ends|The Dark Knight R...|         7.6|      9106|   49026|[{"cast_id": 2, "...|[{"credit_id": "5...|
|260000000|[{"id": 28, "name...|http://movies.dis...| 49529|[{"id": 818, "nam...|               en|         John Carter|John Carter is a ...| 43.926995|[{"name": "Walt D...|[{"iso_3166_1": "...|  2012-03-07| 284139100|  132.0|[{"iso_639_1": "e...|Released|Lost in our world...|         John Carter|         6.1|      2124|   49529|[{"cast_id": 5, "...|[{"credit_id": "5...|
|258000000|[{"id": 14, "name...|http://www.sonypi...|   559|[{"id": 851, "nam...|               en|        Spider-Man 3|The seemingly inv...|115.699814|[{"name": "Columb...|[{"iso_3166_1": "...|  2007-05-01| 890871626|  139.0|[{"iso_639_1": "e...|Released|  The battle within.|        Spider-Man 3|         5.9|      3576|     559|[{"cast_id": 30, ...|[{"credit_id": "5...|
|260000000|[{"id": 16, "name...|http://disney.go....| 38757|[{"id": 1562, "na...|               en|             Tangled|When the kingdom'...| 48.681969|[{"name": "Walt D...|[{"iso_3166_1": "...|  2010-11-24| 591794936|  100.0|[{"iso_639_1": "e...|Released|They're taking ad...|             Tangled|         7.4|      3330|   38757|[{"cast_id": 34, ...|[{"credit_id": "5...|
|280000000|[{"id": 28, "name...|http://marvel.com...| 99861|[{"id": 8828, "na...|               en|Avengers: Age of ...|When Tony Stark t...|134.279229|[{"name": "Marvel...|[{"iso_3166_1": "...|  2015-04-22|1405403694|  141.0|[{"iso_639_1": "e...|Released| A New Age Has Come.|Avengers: Age of ...|         7.3|      6767|   99861|[{"cast_id": 76, ...|[{"credit_id": "5...|
|250000000|[{"id": 12, "name...|http://harrypotte...|   767|[{"id": 616, "nam...|               en|Harry Potter and ...|As Harry begins h...| 98.885637|[{"name": "Warner...|[{"iso_3166_1": "...|  2009-07-07| 933959197|  153.0|[{"iso_639_1": "e...|Released|Dark Secrets Reve...|Harry Potter and ...|         7.4|      5293|     767|[{"cast_id": 3, "...|[{"credit_id": "5...|
|250000000|[{"id": 28, "name...|http://www.batman...|209112|[{"id": 849, "nam...|               en|Batman v Superman...|Fearing the actio...|155.790452|[{"name": "DC Com...|[{"iso_3166_1": "...|  2016-03-23| 873260194|  151.0|[{"iso_639_1": "e...|Released|  Justice or revenge|Batman v Superman...|         5.7|      7004|  209112|[{"cast_id": 18, ...|[{"credit_id": "5...|
|270000000|[{"id": 12, "name...|http://www.superm...|  1452|[{"id": 83, "name...|               en|    Superman Returns|Superman returns ...| 57.925623|[{"name": "DC Com...|[{"iso_3166_1": "...|  2006-06-28| 391081192|  154.0|[{"iso_639_1": "e...|Released|                 NaN|    Superman Returns|         5.4|      1400|    1452|[{"cast_id": 3, "...|[{"credit_id": "5...|
|200000000|[{"id": 12, "name...|http://www.mgm.co...| 10764|[{"id": 627, "nam...|               en|   Quantum of Solace|Quantum of Solace...|107.928811|[{"name": "Eon Pr...|[{"iso_3166_1": "...|  2008-10-30| 586090727|  106.0|[{"iso_639_1": "e...|Released|For love, for hat...|   Quantum of Solace|         6.1|      2965|   10764|[{"cast_id": 1, "...|[{"credit_id": "5...|
|200000000|[{"id": 12, "name...|http://disney.go....|    58|[{"id": 616, "nam...|               en|Pirates of the Ca...|Captain Jack Spar...|145.847379|[{"name": "Walt D...|[{"iso_3166_1": "...|  2006-06-20|1065659812|  151.0|[{"iso_639_1": "e...|Released|       Jack is back!|Pirates of the Ca...|         7.0|      5246|      58|[{"cast_id": 37, ...|[{"credit_id": "5...|
|255000000|[{"id": 28, "name...|http://disney.go....| 57201|[{"id": 1556, "na...|               en|     The Lone Ranger|The Texas Rangers...| 49.046956|[{"name": "Walt D...|[{"iso_3166_1": "...|  2013-07-03|  89289910|  149.0|[{"iso_639_1": "e...|Released|Never Take Off th...|     The Lone Ranger|         5.9|      2311|   57201|[{"cast_id": 4, "...|[{"credit_id": "5...|
|225000000|[{"id": 28, "name...|http://www.manofs...| 49521|[{"id": 83, "name...|               en|        Man of Steel|A young boy learn...| 99.398009|[{"name": "Legend...|[{"iso_3166_1": "...|  2013-06-12| 662845518|  143.0|[{"iso_639_1": "e...|Released|You will believe ...|        Man of Steel|         6.5|      6359|   49521|[{"cast_id": 2, "...|[{"credit_id": "5...|
|225000000|[{"id": 12, "name...|                 NaN|  2454|[{"id": 818, "nam...|               en|The Chronicles of...|One year after th...| 53.978602|[{"name": "Walt D...|[{"iso_3166_1": "...|  2008-05-15| 419651413|  150.0|[{"iso_639_1": "e...|Released|Hope has a new face.|The Chronicles of...|         6.3|      1630|    2454|[{"cast_id": 1, "...|[{"credit_id": "5...|
|220000000|[{"id": 878, "nam...|http://marvel.com...| 24428|[{"id": 242, "nam...|               en|        The Avengers|When an unexpecte...|144.448633|[{"name": "Paramo...|[{"iso_3166_1": "...|  2012-04-25|1519557910|  143.0|[{"iso_639_1": "e...|Released|Some assembly req...|        The Avengers|         7.4|     11776|   24428|[{"cast_id": 46, ...|[{"credit_id": "5...|
|380000000|[{"id": 12, "name...|http://disney.go....|  1865|[{"id": 658, "nam...|               en|Pirates of the Ca...|Captain Jack Spar...|135.413856|[{"name": "Walt D...|[{"iso_3166_1": "...|  2011-05-14|1045713802|  136.0|[{"iso_639_1": "e...|Released|Live Forever Or D...|Pirates of the Ca...|         6.4|      4948|    1865|[{"cast_id": 15, ...|[{"credit_id": "5...|
|225000000|[{"id": 28, "name...|http://www.sonypi...| 41154|[{"id": 4379, "na...|               en|      Men in Black 3|Agents J (Will Sm...| 52.035179|[{"name": "Amblin...|[{"iso_3166_1": "...|  2012-05-23| 624026776|  106.0|[{"iso_639_1": "e...|Released|They are back... ...|      Men in Black 3|         6.2|      4160|   41154|[{"cast_id": 4, "...|[{"credit_id": "5...|
|250000000|[{"id": 28, "name...|http://www.thehob...|122917|[{"id": 417, "nam...|               en|The Hobbit: The B...|Immediately after...|120.965743|[{"name": "WingNu...|[{"iso_3166_1": "...|  2014-12-10| 956019788|  144.0|[{"iso_639_1": "e...|Released|Witness the defin...|The Hobbit: The B...|         7.1|      4760|  122917|[{"cast_id": 10, ...|[{"credit_id": "5...|
+---------+--------------------+--------------------+------+--------------------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+------------+----------+-------+--------------------+--------+--------------------+--------------------+------------+----------+--------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
# Menampilkan skema dari Data Frame
df.printSchema()

root
 |-- budget: long (nullable = true)
 |-- genres: string (nullable = true)
 |-- homepage: string (nullable = true)
 |-- id: long (nullable = true)
 |-- keywords: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: double (nullable = true)
 |-- production_companies: string (nullable = true)
 |-- production_countries: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- revenue: long (nullable = true)
 |-- runtime: double (nullable = true)
 |-- spoken_languages: string (nullable = true)
 |-- status: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- vote_average: double (nullable = true)
 |-- vote_count: long (nullable = true)
 |-- movie_id: long (nullable = true)
 |-- cast: string (nullable = true)
 |-- crew: string (nullable = true)

In [ ]:
# Memeriksa tipe data dari setiap kolom dalam dataframe
df.dtypes

[('budget', 'bigint'),
 ('genres', 'string'),
 ('homepage', 'string'),
 ('id', 'bigint'),
 ('keywords', 'string'),
 ('original_language', 'string'),
 ('original_title', 'string'),
 ('overview', 'string'),
 ('popularity', 'double'),
 ('production_companies', 'string'),
 ('production_countries', 'string'),
 ('release_date', 'string'),
 ('revenue', 'bigint'),
 ('runtime', 'double'),
 ('spoken_languages', 'string'),
 ('status', 'string'),
 ('tagline', 'string'),
 ('title', 'string'),
 ('vote_average', 'double'),
 ('vote_count', 'bigint'),
 ('movie_id', 'bigint'),
 ('cast', 'string'),
 ('crew', 'string')]

In [ ]:
# Menghitung jumlah baris yang tidak mengandung nilai null dalam setiap kolom
df.count()

4809

In [ ]:
# Menampilkan total jumlah record dalam dataset movie
print('The total number of records in the movie dataset is' +str(df.count()))

The total number of records in the movie dataset is4809

### Subset Columns and View a Glimpse of Data

In [ ]:
# Memilih kolom-kolom yang akan ditampilkan
select_columns=['id','budget','popularity','release_date','revenue','title']
df=df.select(select_columns)
# Menampilkan 20 baris pertama dari dataframe
df.show()

+------+---------+----------+------------+----------+--------------------+
|    id|   budget|popularity|release_date|   revenue|               title|
+------+---------+----------+------------+----------+--------------------+
| 19995|237000000|150.437577|  2009-12-10|2787965087|              Avatar|
|   285|300000000|139.082615|  2007-05-19| 961000000|Pirates of the Ca...|
|206647|245000000|107.376788|  2015-10-26| 880674609|             Spectre|
| 49026|250000000| 112.31295|  2012-07-16|1084939099|The Dark Knight R...|
| 49529|260000000| 43.926995|  2012-03-07| 284139100|         John Carter|
|   559|258000000|115.699814|  2007-05-01| 890871626|        Spider-Man 3|
| 38757|260000000| 48.681969|  2010-11-24| 591794936|             Tangled|
| 99861|280000000|134.279229|  2015-04-22|1405403694|Avengers: Age of ...|
|   767|250000000| 98.885637|  2009-07-07| 933959197|Harry Potter and ...|
|209112|250000000|155.790452|  2016-03-23| 873260194|Batman v Superman...|
|  1452|270000000| 57.925623|  2006-06-28| 391081192|    Superman Returns|
| 10764|200000000|107.928811|  2008-10-30| 586090727|   Quantum of Solace|
|    58|200000000|145.847379|  2006-06-20|1065659812|Pirates of the Ca...|
| 57201|255000000| 49.046956|  2013-07-03|  89289910|     The Lone Ranger|
| 49521|225000000| 99.398009|  2013-06-12| 662845518|        Man of Steel|
|  2454|225000000| 53.978602|  2008-05-15| 419651413|The Chronicles of...|
| 24428|220000000|144.448633|  2012-04-25|1519557910|        The Avengers|
|  1865|380000000|135.413856|  2011-05-14|1045713802|Pirates of the Ca...|
| 41154|225000000| 52.035179|  2012-05-23| 624026776|      Men in Black 3|
|122917|250000000|120.965743|  2014-12-10| 956019788|The Hobbit: The B...|
+------+---------+----------+------------+----------+--------------------+
only showing top 20 rows

In [ ]:
# Menampilkan kolom yang dipilih dari data frame
df.select('id','budget','popularity','release_date','revenue','title').show()

+------+---------+----------+------------+----------+--------------------+
|    id|   budget|popularity|release_date|   revenue|               title|
+------+---------+----------+------------+----------+--------------------+
| 19995|237000000|150.437577|  2009-12-10|2787965087|              Avatar|
|   285|300000000|139.082615|  2007-05-19| 961000000|Pirates of the Ca...|
|206647|245000000|107.376788|  2015-10-26| 880674609|             Spectre|
| 49026|250000000| 112.31295|  2012-07-16|1084939099|The Dark Knight R...|
| 49529|260000000| 43.926995|  2012-03-07| 284139100|         John Carter|
|   559|258000000|115.699814|  2007-05-01| 890871626|        Spider-Man 3|
| 38757|260000000| 48.681969|  2010-11-24| 591794936|             Tangled|
| 99861|280000000|134.279229|  2015-04-22|1405403694|Avengers: Age of ...|
|   767|250000000| 98.885637|  2009-07-07| 933959197|Harry Potter and ...|
|209112|250000000|155.790452|  2016-03-23| 873260194|Batman v Superman...|
|  1452|270000000| 57.925623|  2006-06-28| 391081192|    Superman Returns|
| 10764|200000000|107.928811|  2008-10-30| 586090727|   Quantum of Solace|
|    58|200000000|145.847379|  2006-06-20|1065659812|Pirates of the Ca...|
| 57201|255000000| 49.046956|  2013-07-03|  89289910|     The Lone Ranger|
| 49521|225000000| 99.398009|  2013-06-12| 662845518|        Man of Steel|
|  2454|225000000| 53.978602|  2008-05-15| 419651413|The Chronicles of...|
| 24428|220000000|144.448633|  2012-04-25|1519557910|        The Avengers|
|  1865|380000000|135.413856|  2011-05-14|1045713802|Pirates of the Ca...|
| 41154|225000000| 52.035179|  2012-05-23| 624026776|      Men in Black 3|
|122917|250000000|120.965743|  2014-12-10| 956019788|The Hobbit: The B...|
+------+---------+----------+------------+----------+--------------------+
only showing top 20 rows

In [ ]:
# Menampilkan kolom kedua(popularity) dari data frame
df.select(df[2]).show()

+----------+
|popularity|
+----------+
|150.437577|
|139.082615|
|107.376788|
| 112.31295|
| 43.926995|
|115.699814|
| 48.681969|
|134.279229|
| 98.885637|
|155.790452|
| 57.925623|
|107.928811|
|145.847379|
| 49.046956|
| 99.398009|
| 53.978602|
|144.448633|
|135.413856|
| 52.035179|
|120.965743|
+----------+
only showing top 20 rows

In [ ]:
# Menampilkan 25 baris pertama dari dataframe
df.show(25, False)

+------+---------+----------+------------+----------+-------------------------------------------+
|id    |budget   |popularity|release_date|revenue   |title                                      |
+------+---------+----------+------------+----------+-------------------------------------------+
|19995 |237000000|150.437577|2009-12-10  |2787965087|Avatar                                     |
|285   |300000000|139.082615|2007-05-19  |961000000 |Pirates of the Caribbean: At World's End   |
|206647|245000000|107.376788|2015-10-26  |880674609 |Spectre                                    |
|49026 |250000000|112.31295 |2012-07-16  |1084939099|The Dark Knight Rises                      |
|49529 |260000000|43.926995 |2012-03-07  |284139100 |John Carter                                |
|559   |258000000|115.699814|2007-05-01  |890871626 |Spider-Man 3                               |
|38757 |260000000|48.681969 |2010-11-24  |591794936 |Tangled                                    |
|99861 |280000000|134.279229|2015-04-22  |1405403694|Avengers: Age of Ultron                    |
|767   |250000000|98.885637 |2009-07-07  |933959197 |Harry Potter and the Half-Blood Prince     |
|209112|250000000|155.790452|2016-03-23  |873260194 |Batman v Superman: Dawn of Justice         |
|1452  |270000000|57.925623 |2006-06-28  |391081192 |Superman Returns                           |
|10764 |200000000|107.928811|2008-10-30  |586090727 |Quantum of Solace                          |
|58    |200000000|145.847379|2006-06-20  |1065659812|Pirates of the Caribbean: Dead Man's Chest |
|57201 |255000000|49.046956 |2013-07-03  |89289910  |The Lone Ranger                            |
|49521 |225000000|99.398009 |2013-06-12  |662845518 |Man of Steel                               |
|2454  |225000000|53.978602 |2008-05-15  |419651413 |The Chronicles of Narnia: Prince Caspian   |
|24428 |220000000|144.448633|2012-04-25  |1519557910|The Avengers                               |
|1865  |380000000|135.413856|2011-05-14  |1045713802|Pirates of the Caribbean: On Stranger Tides|
|41154 |225000000|52.035179 |2012-05-23  |624026776 |Men in Black 3                             |
|122917|250000000|120.965743|2014-12-10  |956019788 |The Hobbit: The Battle of the Five Armies  |
|1930  |215000000|89.866276 |2012-06-27  |752215857 |The Amazing Spider-Man                     |
|20662 |200000000|37.668301 |2010-05-12  |310669540 |Robin Hood                                 |
|57158 |250000000|94.370564 |2013-12-11  |958400000 |The Hobbit: The Desolation of Smaug        |
|2268  |180000000|42.990906 |2007-12-04  |372234864 |The Golden Compass                         |
|254   |207000000|61.22601  |2005-12-14  |550000000 |King Kong                                  |
+------+---------+----------+------------+----------+-------------------------------------------+
only showing top 25 rows

### Missing Value

In [ ]:
# Menghitung jumlah nilai null dalam kolom 'popularity

from pyspark.sql.functions import isnan, isnull, when, count
missing_values_count = df.select(count(when(isnull(df['popularity'])|(isnan(df['popularity'])) | (df['popularity'] == ''), df['popularity'])).alias('missing_values')).collect()[0]['missing_values']

print("Number of missing value in the 'popularity' column:", missing_values_count)

Number of missing value in the 'popularity' column: 0

In [ ]:
# Mengelompokkan dataframe berdasarkan judul dan menghitung jumlahnya
df.groupBy(df['title']).count().show()

+--------------------+-----+
|               title|count|
+--------------------+-----+
|            Poseidon|    1|
|            Warcraft|    1|
|  The Last Airbender|    1|
|Penguins of Madag...|    1|
|   Failure to Launch|    1|
|         Deep Rising|    1|
|     Isn't She Great|    1|
|      Happy Feet Two|    1|
|         The Tourist|    1|
|    Now You See Me 2|    1|
|     Mission to Mars|    1|
|            Semi-Pro|    1|
|             The Fan|    1|
|        Daddy's Home|    1|
|            Child 44|    1|
|       Sausage Party|    1|
|The NeverEnding S...|    1|
|    The Untouchables|    1|
|Harry Potter and ...|    1|
|          Hollow Man|    1|
+--------------------+-----+
only showing top 20 rows

In [ ]:
# Mengelompokkan dataframe berdasarkan judul, menghitung jumlahnya, dan mengurutkannya dari yang terbanyak
from pyspark.sql.functions import desc
df.groupby(df['title']).count().sort(desc("count")).show(10, False)

+----------------------+-----+
|title                 |count|
+----------------------+-----+
|Batman                |4    |
|The Host              |4    |
|Out of the Blue       |4    |
|Poseidon              |1    |
|Warcraft              |1    |
|The Last Airbender    |1    |
|Penguins of Madagascar|1    |
|Failure to Launch     |1    |
|Deep Rising           |1    |
|Isn't She Great       |1    |
+----------------------+-----+
only showing top 10 rows

In [ ]:
from pyspark.sql.functions import col

# Filter dataframe untuk menghilangkan baris dengan nilai kosong atau null pada kolom 'title'
df_temp = df.filter((df['title'] !='') & (df['title'].isNotNull()) &
  (~isnan(df['title'])))

# Mengelompokkan dataframe yang telah difilter berdasarkan judul, menghitung jumlahnya, dan memfilter hasilnya yang memiliki jumlah lebih dari 4
df_temp.groupby(df_temp['title']).count().filter("`count` > 4").sort(col("count").desc()).show(10, False)

+-----+-----+
|title|count|
+-----+-----+
+-----+-----+

In [ ]:
from pyspark.sql.functions import col

# Menghitung jumlah judul yang muncul empat kali atau lebih
jumlah_judul = df_temp.groupby(df_temp['title']).count().filter("`count` >= 4").count()

# Menampilkan jumlah judul yang diulang empat kali atau lebih
print("Jumlah judul yang diulang empat kakli atua lebih:", jumlah_judul)

Jumlah judul yang diulang empat kakli atua lebih: 3

In [ ]:
# Menghapus dataframe sementara df_tem
del df_temp

In [ ]:
# Menampilkan tipe data kolom dalam dataframe sebelum konversi
df.dtypes

[('id', 'bigint'),
 ('budget', 'bigint'),
 ('popularity', 'double'),
 ('release_date', 'string'),
 ('revenue', 'bigint'),
 ('title', 'string')]

In [ ]:
# Mengonversi kolom 'budget' menjadi tipe data float
df = df.withColumn('budget', df['budget'].cast("float"))

In [ ]:
# Menampilkan tipe data kolom dalam dataframe setelah konversi
df.dtypes

[('id', 'bigint'),
 ('budget', 'float'),
 ('popularity', 'double'),
 ('release_date', 'string'),
 ('revenue', 'bigint'),
 ('title', 'string')]

In [ ]:
# Import library yang dibutuhkan
from pyspark.sql.types import *

# Menentukan variabel integer, float, dan date
int_vars = ['id']
float_vars = ['budget', 'popularity', 'revenue']
date_vars = ['release_date']

# Loop untuk mengonversi tipe data kolom sesuai dengan variabel yang ditentukan
for column in int_vars:
  df = df.withColumn(column, df[column].cast(IntegerType()))

for column in float_vars:
  df = df.withColumn(column, df[column].cast(FloatType()))

for column in date_vars:
  df = df.withColumn(column, df[column].cast(DateType()))

# Menampilkan tipe data kolom dalam dataframe setelah pengonversian
df.dtypes

[('id', 'int'),
 ('budget', 'float'),
 ('popularity', 'float'),
 ('release_date', 'date'),
 ('revenue', 'float'),
 ('title', 'string')]

In [ ]:
# Menampilkan 10 baris pertama dari datafram
df.show(10, False)

+------+------+----------+------------+------------+----------------------------------------+
|id    |budget|popularity|release_date|revenue     |title                                   |
+------+------+----------+------------+------------+----------------------------------------+
|19995 |2.37E8|150.43758 |2009-12-10  |2.78796518E9|Avatar                                  |
|285   |3.0E8 |139.08261 |2007-05-19  |9.61E8      |Pirates of the Caribbean: At World's End|
|206647|2.45E8|107.376785|2015-10-26  |8.8067462E8 |Spectre                                 |
|49026 |2.5E8 |112.31295 |2012-07-16  |1.08493914E9|The Dark Knight Rises                   |
|49529 |2.6E8 |43.926994 |2012-03-07  |2.84139104E8|John Carter                             |
|559   |2.58E8|115.699814|2007-05-01  |8.9087162E8 |Spider-Man 3                            |
|38757 |2.6E8 |48.68197  |2010-11-24  |5.9179494E8 |Tangled                                 |
|99861 |2.8E8 |134.27924 |2015-04-22  |1.40540365E9|Avengers: Age of Ultron                 |
|767   |2.5E8 |98.885635 |2009-07-07  |9.3395917E8 |Harry Potter and the Half-Blood Prince  |
|209112|2.5E8 |155.79045 |2016-03-23  |8.7326022E8 |Batman v Superman: Dawn of Justice      |
+------+------+----------+------------+------------+----------------------------------------+
only showing top 10 rows

### Descriptive Statistics

In [ ]:
# Import library yang dibutuhkan
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
# Membuat sesi Spark
spark = SparkSession.builder \
    .appName("Data Analysis") \
    .getOrCreate()
# Membuat summary statistik dari datafram
summary_df = df.describe()
summary_df.show()

+-------+-----------------+-------------------+------------------+--------------------+------------------+
|summary|               id|             budget|        popularity|             revenue|             title|
+-------+-----------------+-------------------+------------------+--------------------+------------------+
|  count|             4809|               4809|              4809|                4809|              4809|
|   mean|57120.57142857143|2.902780293657725E7|21.491664287965204| 8.227511197671033E7|1125.1666666666667|
| stddev|88653.36984850948|4.070473138846018E7|31.803366351256095|1.6283785491992632E8| 935.2601809446428|
|    min|                5|                0.0|               0.0|                 0.0|           #Horror|
|    max|           459488|              3.8E8|          875.5813|        2.78796518E9|          Æon Flux|
+-------+-----------------+-------------------+------------------+--------------------+------------------+

In [ ]:
# Menghapus baris dengan nilai null atau 0 pada kolom 'budget' dan menghitung median dari kolom 'budget'
from pyspark.sql.functions import isnan
df_temp = df.filter((df['budget'] != 0) & (df['budget'].isNotNull()) & (~isnan(df['budget'])))
median = df_temp.approxQuantile('budget',[0.5], 0.1)
print('The median of budget is' + str(median))

The median of budget is[26000000.0]

In [ ]:
# Menghitung jumlah judul unik dalam datafram
df.agg(countDistinct(col("title")).alias("count")).show()

+-----+
|count|
+-----+
| 4800|
+-----+

In [ ]:
# Menampilkan 10 judul film unik
df.select('title').distinct().show(10, False)

+----------------------+
|title                 |
+----------------------+
|Poseidon              |
|Warcraft              |
|The Last Airbender    |
|Penguins of Madagascar|
|Failure to Launch     |
|Deep Rising           |
|Isn't She Great       |
|Happy Feet Two        |
|The Tourist           |
|Now You See Me 2      |
+----------------------+
only showing top 10 rows

In [ ]:
# Menambahkan kolom 'release_year' yang berisi tahun dari tanggal rilis
df_temp=df.withColumn('release_year', year('release_date'))

In [ ]:
from pyspark.sql.functions import month,  dayofmonth, count_distinct

# Menambahkan kolom 'release month' yang berisi bulan dari tanggal rilis
df_temp = df_temp.withColumn('release month', month('release_date'))
# Menambahkan kolom 'release day' yang berisi hari dari tanggal rilis
df_temp = df_temp.withColumn('release day', dayofmonth('release_date'))
# Menambahkan kolom 'release year' yang berisi tahun dari tanggal rilis
df_temp = df_temp.withColumn('release year', year('release_date'))
# Mengelompokkan berdasarkan tahun rilis dan menghitung jumlah judul unik dalam setiap tahun
df_temp.groupBy("release_year").agg(countDistinct("title")).show(10, False)

+------------+---------------------+
|release_year|count(DISTINCT title)|
+------------+---------------------+
|1959        |3                    |
|1990        |29                   |
|1975        |6                    |
|1977        |16                   |
|2003        |169                  |
|2007        |195                  |
|1974        |8                    |
|2015        |216                  |
|1927        |1                    |
|1955        |2                    |
+------------+---------------------+
only showing top 10 rows

### Filtering

In [ ]:
# Menampilkan 10 baris pertama dari dataframe yang judulnya dimulai dengan 'Meet'
df.filter(df['title'].like('Meet%')).show(10,False)

+-----+------+----------+------------+------------+-----------------+
|id   |budget|popularity|release_date|revenue     |title            |
+-----+------+----------+------------+------------+-----------------+
|297  |9.0E7 |36.06961  |1998-11-12  |1.42940096E8|Meet Joe Black   |
|693  |8.0E7 |32.829536 |2004-12-22  |5.16642944E8|Meet the Fockers |
|11260|6.0E7 |18.67629  |2008-07-08  |5.065008E7  |Meet Dave        |
|1597 |5.5E7 |29.97224  |2000-10-06  |3.30444032E8|Meet the Parents |
|7278 |3.0E7 |10.608998 |2008-01-24  |8.4646832E7 |Meet the Spartans|
|40688|2.4E7 |2.353441  |1998-03-27  |4562146.0   |Meet the Deedles |
+-----+------+----------+------------+------------+-----------------+

In [ ]:

df.filter(~df['title'].like('%s')).show(10,False)

+------+------+----------+------------+------------+----------------------------------------+
|id    |budget|popularity|release_date|revenue     |title                                   |
+------+------+----------+------------+------------+----------------------------------------+
|19995 |2.37E8|150.43758 |2009-12-10  |2.78796518E9|Avatar                                  |
|285   |3.0E8 |139.08261 |2007-05-19  |9.61E8      |Pirates of the Caribbean: At World's End|
|206647|2.45E8|107.376785|2015-10-26  |8.8067462E8 |Spectre                                 |
|49529 |2.6E8 |43.926994 |2012-03-07  |2.84139104E8|John Carter                             |
|559   |2.58E8|115.699814|2007-05-01  |8.9087162E8 |Spider-Man 3                            |
|38757 |2.6E8 |48.68197  |2010-11-24  |5.9179494E8 |Tangled                                 |
|99861 |2.8E8 |134.27924 |2015-04-22  |1.40540365E9|Avengers: Age of Ultron                 |
|767   |2.5E8 |98.885635 |2009-07-07  |9.3395917E8 |Harry Potter and the Half-Blood Prince  |
|209112|2.5E8 |155.79045 |2016-03-23  |8.7326022E8 |Batman v Superman: Dawn of Justice      |
|10764 |2.0E8 |107.92881 |2008-10-30  |5.8609075E8 |Quantum of Solace                       |
+------+------+----------+------------+------------+----------------------------------------+
only showing top 10 rows

In [ ]:
df.filter(df['title'].rlike('\w*one')).show(10,False)

+-----+------+----------+------------+------------+--------------------------------------------------+
|id   |budget|popularity|release_date|revenue     |title                                             |
+-----+------+----------+------------+------------+--------------------------------------------------+
|57201|2.55E8|49.046955 |2013-07-03  |8.9289912E7 |The Lone Ranger                                   |
|217  |1.85E8|75.67446  |2008-05-21  |7.8663603E8 |Indiana Jones and the Kingdom of the Crystal Skull|
|673  |1.3E8 |79.6796   |2004-05-31  |7.8980454E8 |Harry Potter and the Prisoner of Azkaban          |
|671  |1.25E8|109.98435 |2001-11-16  |9.7647552E8 |Harry Potter and the Philosopher's Stone          |
|1894 |1.2E8 |43.98706  |2002-05-15  |6.4939834E8 |Star Wars: Episode II - Attack of the Clones      |
|9679 |9.0E7 |52.99563  |2000-06-09  |2.37202304E8|Gone in Sixty Seconds                             |
|22972|1.0E8 |30.25402  |2010-03-11  |9.4882888E7 |Green Zone                                        |
|29193|1.0E7 |3.091077  |1997-09-08  |1.383513E7  |The Spanish Prisoner                              |
|7980 |6.5E7 |29.257137 |2009-12-26  |9.3525584E7 |The Lovely Bones                                  |
|10715|8.0E7 |16.715631 |2003-11-14  |6.8514848E7 |Looney Tunes: Back in Action                      |
+-----+------+----------+------------+------------+--------------------------------------------------+
only showing top 10 rows

In [ ]:
df.filter(df.title.contains('ove')).show()

+-----+------+----------+------------+------------+--------------------+
|   id|budget|popularity|release_date|     revenue|               title|
+-----+------+----------+------------+------------+--------------------+
|79698| 2.7E7|  2.418535|  2015-02-13|         0.0|          The Lovers|
|11688| 1.0E8| 51.113716|  2000-12-09| 1.6932768E8|The Emperor's New...|
| 7980| 6.5E7| 29.257137|  2009-12-26| 9.3525584E7|    The Lovely Bones|
|45243| 8.0E7|  58.04015|  2011-05-25|2.54455984E8|The Hangover Part II|
|12177| 6.2E7| 13.218008|  2008-06-20| 4.1819064E7|       The Love Guru|
|38167| 6.0E7| 28.800112|  2010-08-12|2.04594016E8|       Eat Pray Love|
|39437|   0.0|  1.453765|  1998-10-16|         0.0|             Beloved|
|26389| 5.2E7| 27.916285|  2010-02-05| 5.2826592E7|From Paris with Love|
|50646| 5.0E7| 37.990704|  2011-07-29|  1.428512E8|Crazy, Stupid, Love.|
|10390| 5.0E7|  9.622345|  1999-09-17|         0.0|For Love of the Game|
|  508| 4.0E7| 37.073128|  2003-09-07| 2.4493176E8|       Love Actually|
| 6639| 4.5E7|  5.361699|  2007-10-04|   4607608.0|Love in the Time ...|
|16538| 4.1E7|   25.3919|  2009-03-20| 9.1636984E7|     I Love You, Man|
| 1921| 4.0E7| 19.372805|  2001-02-16| 6.5754228E7|      Sweet November|
|18785| 3.5E7|  82.21166|  2009-06-05|4.59270624E8|        The Hangover|
|11648| 3.0E7| 11.120167|  2005-07-21| 5.8405312E7|      Must Love Dogs|
| 6023| 3.0E7| 29.489273|  2007-11-15|1.56835344E8|     P.S. I Love You|
|43347| 3.0E7| 20.236952|  2010-11-22|1.02820008E8|  Love & Other Drugs|
|  174| 2.7E7| 16.188572|  1991-12-05|      9.69E7|Star Trek VI: The...|
| 1934| 2.5E7| 31.792965|  1998-12-11|2.89317792E8| Shakespeare in Love|
+-----+------+----------+------------+------------+--------------------+
only showing top 20 rows

In [ ]:
# Memilih kolom yang nama kolomnya dimulai dengan 're'
df.select(df.colRegex("`re\w*`")).printSchema()

root
 |-- release_date: date (nullable = true)
 |-- revenue: float (nullable = true)

In [ ]:
# Memilih kolom yang nama kolomnya mengandung huruf 'e'
df.select(df.colRegex("`\w*e`")).printSchema()

root
 |-- release_date: date (nullable = true)
 |-- revenue: float (nullable = true)
 |-- title: string (nullable = true)

## Creating New Columns

In [ ]:
# Menghitung rata-rata popularitas
mean_pop=df.agg({'popularity':'mean'}).collect()[0]['avg(popularity)']
# Menghitung jumlah observasi dalam dataframe
count_obs= df.count()

In [ ]:
# Menambahkan kolom baru 'mean_popularity' dengan nilai rata-rata popularitas
df=df.withColumn('mean_popularity',lit(mean_pop))

In [ ]:
from pyspark.sql.functions import pow, mean
# Menghitung rata-rata popularitas
mean_popularity = df.select(mean(df['popularity'])).collect()[0][0]
# Menambahkan kolom baru 'mean_popularity'
df = df.withColumn('mean_popularity', lit(mean_popularity))
# Menghitung total varians dari kolom 'popularity'
variance_sum = df.withColumn('variance', pow((df['popularity'] -
  df['mean_popularity']), 2)) \
                .agg({'variance': 'sum'}) \
                .collect()[0]['sum(variance)']
# Menampilkan total varians
print('Total variance:', variance_sum)

Total variance: 4863071.366996781

In [ ]:
# Menghitung varians populasi
variance_population = variance_sum / count_obs
# Menampilkan varians populasi
print('Variance of population:', variance_population)

Variance of population: 1011.2437860255314

In [ ]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StructType, StructField, StringType

# Definisikan fungsi baru
def new_cols (budget, popularity):
  if budget < 10000000:
    budget_cat = "Small"
  elif budget < 100000000:
    budget_cat = "Medium"
  else:
    budget_cat = "Big"

  if popularity < 3:
    ratings = "Low"
  elif popularity < 5:
    ratings = "Mid"
  else:
    ratings = "High"

  return budget_cat, ratings

# Definisikan user-defined function (UDF)
def new_cols (budget, popularity):
  if budget < 10000000:
    budget_cat = "Small"
  elif budget < 100000000:
    budget_cat = "Medium"
  else:
    budget_cat = "Big"

  if popularity < 3:
      ratings = "Low"
  elif popularity < 5:
      ratings = "Mid"
  else:
      ratings = "High"
  return budget_cat, ratings

# Register UDF
udfB = udf (new_cols, StructType([
    StructField("budget_cat", StringType(), True),
    StructField("ratings", StringType(), True)
]))

# Select columns and apply the UDF
temp_df = df.select('id', 'budget', 'popularity').withColumn("newcat",
  udfB("budget", "popularity"))

# Unbundle the struct type columns into individual columns and drop the struct
df_with_newcols = temp_df.select('id', 'budget', 'popularity', temp_df.newcat.
  getItem('budget_cat').alias('budget_cat'),
                                 temp_df.newcat.getItem('ratings').
  alias('ratings')).drop('newcat')
# Menampilkan DataFrame yang sudah diubah
df_with_newcols.show(15, False)

+------+------+----------+----------+-------+
|id    |budget|popularity|budget_cat|ratings|
+------+------+----------+----------+-------+
|19995 |2.37E8|150.43758 |Big       |High   |
|285   |3.0E8 |139.08261 |Big       |High   |
|206647|2.45E8|107.376785|Big       |High   |
|49026 |2.5E8 |112.31295 |Big       |High   |
|49529 |2.6E8 |43.926994 |Big       |High   |
|559   |2.58E8|115.699814|Big       |High   |
|38757 |2.6E8 |48.68197  |Big       |High   |
|99861 |2.8E8 |134.27924 |Big       |High   |
|767   |2.5E8 |98.885635 |Big       |High   |
|209112|2.5E8 |155.79045 |Big       |High   |
|1452  |2.7E8 |57.925625 |Big       |High   |
|10764 |2.0E8 |107.92881 |Big       |High   |
|58    |2.0E8 |145.84738 |Big       |High   |
|57201 |2.55E8|49.046955 |Big       |High   |
|49521 |2.25E8|99.39801  |Big       |High   |
+------+------+----------+----------+-------+
only showing top 15 rows

In [ ]:
#recreate the preceding columns using the when function
from pyspark.sql.functions import when

# Membuat DataFrame baru dengan kolom 'budget_cat' dan 'ratings' menggunakan when() function
df_with_newcols = df.select('id', 'budget', 'popularity').\
    withColumn('budget_cat', when (df ['budget'] < 10000000, 'Small').
  when (df ['budget'] < 100000000, 'Medium').otherwise('Big')).\
    withColumn('ratings', when (df ['popularity'] < 3, 'Low').
  when (df ['popularity'] <5, 'Mid').otherwise('High'))

# Menampilkan DataFrame yang sudah diubah
df_with_newcols.show(15, False)

+------+------+----------+----------+-------+
|id    |budget|popularity|budget_cat|ratings|
+------+------+----------+----------+-------+
|19995 |2.37E8|150.43758 |Big       |High   |
|285   |3.0E8 |139.08261 |Big       |High   |
|206647|2.45E8|107.376785|Big       |High   |
|49026 |2.5E8 |112.31295 |Big       |High   |
|49529 |2.6E8 |43.926994 |Big       |High   |
|559   |2.58E8|115.699814|Big       |High   |
|38757 |2.6E8 |48.68197  |Big       |High   |
|99861 |2.8E8 |134.27924 |Big       |High   |
|767   |2.5E8 |98.885635 |Big       |High   |
|209112|2.5E8 |155.79045 |Big       |High   |
|1452  |2.7E8 |57.925625 |Big       |High   |
|10764 |2.0E8 |107.92881 |Big       |High   |
|58    |2.0E8 |145.84738 |Big       |High   |
|57201 |2.55E8|49.046955 |Big       |High   |
|49521 |2.25E8|99.39801  |Big       |High   |
+------+------+----------+----------+-------+
only showing top 15 rows

### Deleting and Renamning Columns

In [ ]:
columns_to_drop=['budget_cat']
df_with_newcols=df_with_newcols.drop(*columns_to_drop)

In [ ]:
# Menggunakan chaining untuk melakukan multiple transformations
df_with_newcols = df_with_newcols.withColumnRenamed('id', 'film_id').withColumnRenamed('ratings', 'film_ratings')

# Menampilkan DataFrame yang sudah diubah
df_with_newcols.show(15, False)

+-------+------+----------+------------+
|film_id|budget|popularity|film_ratings|
+-------+------+----------+------------+
|19995  |2.37E8|150.43758 |High        |
|285    |3.0E8 |139.08261 |High        |
|206647 |2.45E8|107.376785|High        |
|49026  |2.5E8 |112.31295 |High        |
|49529  |2.6E8 |43.926994 |High        |
|559    |2.58E8|115.699814|High        |
|38757  |2.6E8 |48.68197  |High        |
|99861  |2.8E8 |134.27924 |High        |
|767    |2.5E8 |98.885635 |High        |
|209112 |2.5E8 |155.79045 |High        |
|1452   |2.7E8 |57.925625 |High        |
|10764  |2.0E8 |107.92881 |High        |
|58     |2.0E8 |145.84738 |High        |
|57201  |2.55E8|49.046955 |High        |
|49521  |2.25E8|99.39801  |High        |
+-------+------+----------+------------+
only showing top 15 rows

In [ ]:
# change multiple column names, you try the following command:
# Mendefinisikan semua perubahan nama kolom dalam list
new_names = [('budget', 'film_budget'), ('popularity', 'film_popularity')]

# Mengubah nama kolom menggunakan loop
for old_name, new_name in new_names:
    df_with_newcols = df_with_newcols.withColumnRenamed(old_name, new_name)
# Menampilkan DataFrame yang sudah diubah
df_with_newcols.show(15, False)

+-------+-----------+---------------+------------+
|film_id|film_budget|film_popularity|film_ratings|
+-------+-----------+---------------+------------+
|19995  |2.37E8     |150.43758      |High        |
|285    |3.0E8      |139.08261      |High        |
|206647 |2.45E8     |107.376785     |High        |
|49026  |2.5E8      |112.31295      |High        |
|49529  |2.6E8      |43.926994      |High        |
|559    |2.58E8     |115.699814     |High        |
|38757  |2.6E8      |48.68197       |High        |
|99861  |2.8E8      |134.27924      |High        |
|767    |2.5E8      |98.885635      |High        |
|209112 |2.5E8      |155.79045      |High        |
|1452   |2.7E8      |57.925625      |High        |
|10764  |2.0E8      |107.92881      |High        |
|58     |2.0E8      |145.84738      |High        |
|57201  |2.55E8     |49.046955      |High        |
|49521  |2.25E8     |99.39801       |High        |
+-------+-----------+---------------+------------+
only showing top 15 rows